<% layout('./layout/page') -%>
<% block('scripts', "vendor/bower_components/socket.io-client/socket.io.js") -%>

<% var containerId = 'chatContainer' %>
<% var messagesListId = 'chatMessageList' %>
<% var chatMessageInputId = 'chatMessageInput' %>
<% var connectionStatusId = 'chartConnectionStatus' %>
<% var messagesButtonId = 'chatMessagesButton' %>

<div id="<%= containerId %>" class="ch-flex-container">
    <form accept-charset="UTF-8" role="form">
        <label class="form-group-lg"><span>Status:</span><span id="<%= connectionStatusId %>"></span></label>
        <div class="row form-group-lg">
            <div class="col-md-9">
                <input id="<%=chatMessageInputId%>" class="form-control" type="text" name="message"/>
            </div>
            <div class="col-md-3">
                <input id="<%=messagesButtonId%>" class="form-control btn btn-lg btn-success btn-block" value="Send">
            </div>
        </div>
    </form>
    <ul id="<%= messagesListId %>" class="ch-chat-messages-list list-group ch-flex-container">
    </ul>
</div>

<script type="text/javascript">
    var socket = io.connect('', { reconnect: false });
    var formEl = $('#<%=containerId%> form');
    var messagesInputEl = $('#<%=chatMessageInputId%>');
    var messagesButtonEl = $('#<%=messagesButtonId%>');
    var messagesListEl = $('#<%=messagesListId%>');
    var connectionStatusEl = $('#<%=connectionStatusId%>');

    messagesButtonEl
        .bind('click', send);

    formEl
        .bind('keypress', function(e) {
            var keyCode = e.keyCode || e.which;
            if(keyCode == 13){
                send();
            }
        })
        .bind('submit', send);

    printConnectionState("Connecting");
    socket
        .on('message', function (data) {
            printMessage(data);
        })
        .on('join', function(name){
            printInfo(["'", name,"'", ' joined chart'].join(''));
        })
        .on('leave', function(name){
            printInfo(["'", name,"'", ' leaved chart'].join(''));
        })
        .on('connect', function(){
            formEl.find('input').removeAttr("disabled");
            printConnectionState("Online");
        })
        .on('disconnect', function(){
            formEl.find('input').attr("disabled", true);
            printConnectionState("Offline");
            setTimeout(reconnect, 500);
        });

    function reconnect(){
        socket.io.once('connect_error', function(){
            setTimeout(reconnect, 500);
        });
        socket.connect();
    }

    function send(){
        var data = formEl.serializeArray();
        formEl.mask('Loading...');
        socket.emit('message', data[0].value , function(data){
            printMessage(data);
            messagesInputEl[0].value = '';
            formEl.unmask();
        });
    }

    function printInfo(message){
        printText(message);
    }

    function printMessage(data){
        printText(["'", data.user ,"' > ", data.message].join(''), 'list-group-item-info');
    }

    function printText(message, type){
        messagesListEl[0].appendChild($(['<li class="list-group-item ', type ,'">',message,'</li>'].join(''))[0]);
        messagesListEl.scrollTop(messagesListEl.find('li').last().position().top + messagesListEl.find('li').last().height());
    }

    function printConnectionState(state){
        connectionStatusEl[0].innerHTML = state;
    }
</script>