<% layout('./layout/page') -%>
<% block('scripts', "vendor/bower_components/socket.io-client/socket.io.js") -%>

<% var containerId = 'chatContainer' %>
<% var messagesListId = 'chatMessageList' %>
<% var chatMessageInputId = 'chatMessageInput' %>
<% var connectionStatusId = 'chartConnectionStatus' %>

<div id="<%= containerId %>" class="ch-chat-container">
    <label class="form-group-lg"><span>Status:</span><span id="<%= connectionStatusId %>"></span></label>
    <form accept-charset="UTF-8" role="form" onsubmit="login();">
        <div class="row form-group-lg">
            <div class="col-md-9">
                <input id="<%=chatMessageInputId%>" class="form-control" type="text" name="message"/>
            </div>
            <div class="col-md-3">
                <input class="form-control btn btn-lg btn-success btn-block" value="Send" onclick="send();">
            </div>
        </div>
    </form>
    <ul id="<%= messagesListId %>" class="ch-chat-messages-list list-group">
    </ul>
</div>

<script>
    var formEl = $('#<%=containerId%> form');
    var messagesInputEl = $('#<%=chatMessageInputId%>')[0];
    var messagesListEl = $('#<%=messagesListId%>')[0];
    var connectionStatusEl = $('#<%=connectionStatusId%>')[0];
    var socket = io.connect('', { reconnect: false });

    formEl.bind('keypress', function(e) {
        var keyCode = e.keyCode || e.which;
        if(keyCode == 13){
            send();
        }
    });

    connectionState("Connecting");
    socket
        .on('message', function (data) {
            printMessage(data);
        })
        .on('join', function(name){
            printInfo(["'", name,"'", ' joined chart'].join(''));
        })
        .on('leave', function(name){
            printInfo(["'", name,"'", ' leaved chart'].join(''));
        })
        .on('connect', function(){
            formEl.find('input').removeAttr("disabled");
            connectionState("Online");
        })
        .on('disconnect', function(){
            formEl.find('input').attr("disabled", true);
            connectionState("Offline");
            setTimeout(reconnect, 500);
        });

    function reconnect(){
        socket.io.once('connect_error', function(){
            setTimeout(reconnect, 500);
        });
        socket.connect();
    }

    function send(){
        var data = formEl.serializeArray();
        socket.emit('message', data[0].value , function(data){
            printMessage(data);
            messagesInputEl.value = '';
        });
    }

    function printInfo(message){
        appendMessage(message);
    }

    function printMessage(data){
        appendMessage(["'", data.user ,"' > ", data.message].join(''), 'list-group-item-info');
    }

    function appendMessage(message, type){
        messagesListEl.appendChild($(['<li class="list-group-item ', type ,'">',message,'</li>'].join(''))[0]);
    }

    function connectionState(state){
        connectionStatusEl.innerHTML = state;
    }
</script>