<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <script type="text/javascript" src="/vendor/bower_components/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <% if(blocks.scripts) { blocks.scripts.html.forEach(function(script) { %><script type="text/javascript" src="<%- script %>"></script><%  })} %>
    </head>
    <body>
    <header><%- blocks.header %></header>
    <section class="container">
        <%- partial("../partials/topNavigation.ejs") %>
        <% if(blocks.title) { %>
            <h1><%- blocks.title%></h1>
        <% } %>
        <%- body %>
    </section>
    </body>
</html>